In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.datasets import load_digits
import numpy as np
%matplotlib inline
plt.style.use('dark_background')

In [2]:
digits=load_digits()

In [3]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [4]:
type(digits.data)

numpy.ndarray

In [5]:
df=pd.DataFrame(data=digits.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [6]:
df['target']=digits.target
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [7]:
m1=SVC(kernel='linear')

In [8]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(['target'],axis=1),df['target'])

In [9]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
340,0.0,0.0,10.0,16.0,16.0,7.0,0.0,0.0,0.0,6.0,...,3.0,0.0,0.0,0.0,12.0,16.0,16.0,16.0,5.0,0.0
228,0.0,0.0,0.0,2.0,15.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0
1749,0.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,0.0,0.0,1.0,10.0,16.0,14.0,4.0,0.0
1051,0.0,0.0,13.0,16.0,13.0,1.0,0.0,0.0,0.0,6.0,...,10.0,1.0,0.0,0.0,13.0,16.0,16.0,16.0,16.0,9.0
1706,0.0,0.0,9.0,16.0,14.0,6.0,0.0,0.0,0.0,6.0,...,1.0,0.0,0.0,0.0,10.0,16.0,13.0,4.0,0.0,0.0

In [10]:
y_test.head()

539     3
853     2
659     3
1787    5
1446    9
Name: target, dtype: int32

In [11]:
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
539,0.0,0.0,2.0,11.0,12.0,1.0,0.0,0.0,0.0,2.0,...,6.0,0.0,0.0,0.0,1.0,12.0,16.0,16.0,5.0,0.0
853,0.0,4.0,16.0,15.0,1.0,0.0,0.0,0.0,0.0,6.0,...,5.0,0.0,0.0,3.0,16.0,16.0,16.0,16.0,8.0,0.0
659,0.0,0.0,4.0,14.0,16.0,5.0,0.0,0.0,0.0,4.0,...,7.0,0.0,0.0,0.0,3.0,16.0,15.0,8.0,0.0,0.0
1787,0.0,0.0,10.0,16.0,15.0,1.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,6.0,13.0,10.0,4.0,0.0,0.0
1446,0.0,1.0,11.0,15.0,13.0,2.0,0.0,0.0,0.0,8.0,...,7.0,0.0,0.0,1.0,15.0,16.0,15.0,8.0,1.0,0.0

In [12]:
m1.fit(x_train,y_train)

SVC(kernel='linear')

In [13]:
m1.score(x_test,y_test)

0.9666666666666667

In [14]:
m2=SVC(kernel='poly')
m2.fit(x_train,y_train)
m2.score(x_test,y_test)

0.9755555555555555

In [15]:
m2=SVC(kernel='rbf')
m2.fit(x_train,y_train)
m2.score(x_test,y_test)

0.9755555555555555

In [16]:
m2=SVC(kernel='sigmoid')
m2.fit(x_train,y_train)
m2.score(x_test,y_test)

0.9133333333333333